<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcy.yozoraforum.mapper.ChatMapper">
   <insert id="insert">
      insert into chat (chat_sender_id,chat_receiver_id,chat_content,create_time,chat_isread) values
                       (#{chatSenderId},#{chatReceiverId},#{chatContent},now(),#{chatIsread})
   </insert>
    <select id="select" resultType="com.lcy.yozoraforum.vo.ChatVO">
        select * from chat where chat_sender_id = #{senderId} or chat_sender_id = #{receiverId} and chat_receiver_id = #{receiverId} or chat_receiver_id = #{senderId} order by create_time desc
    </select>
</mapper>