<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcy.yozoraforum.mapper.ForumMapper">
    <update id="PVToMySQL">
            UPDATE forum
            SET forum_pv = #{forumPV}
            WHERE forum_id = #{forumId}
    </update>


    <select id="showForumList" resultType="com.lcy.yozoraforum.wrapper.ForumWrapper">
      SELECT
          f.*,
          COUNT(c.comment_id) AS forum_comment_count,
          u.user_name
      FROM forum f
               LEFT JOIN comments c
                         ON f.forum_id = c.forum_id
               left join user u on f.user_id = u.user_id
      GROUP BY f.forum_id order by f.create_date desc limit #{offset},#{pageSize}
  </select>

    <select id="showMineForumList" resultType="com.lcy.yozoraforum.entity.Forum">
        select * from forum where user_id = #{userId} order by create_date desc limit #{offset},#{pageSize}
    </select>

    <select id="selectForum" resultType="com.lcy.yozoraforum.wrapper.ForumWrapper">
        select f.*,u.user_name,flu.status from forum f left join user u on f.user_id = u.user_id  left join forum_like_user_relation flu on f.forum_id = flu.forum_id where f.forum_id = #{forumId}
    </select>

    <select id="showSearchForum" resultType="com.lcy.yozoraforum.wrapper.ForumWrapper">
        SELECT
            f.*,
            COUNT(c.comment_id) AS forum_comment_count,
            u.user_name
        FROM forum f
                 LEFT JOIN comments c ON f.forum_id = c.forum_id
                 LEFT JOIN user u ON f.user_id = u.user_id
        WHERE f.forum_title LIKE CONCAT('%', #{body}, '%')
           OR f.forum_body  LIKE CONCAT('%', #{body}, '%')
        GROUP BY f.forum_id
        ORDER BY f.create_date DESC
            LIMIT #{offset}, #{pageSize}
    </select>


    <select id="selectUserByForum" resultType="java.lang.Long">
        select user_id from forum where forum_id = #{forumId}
    </select>

    <select id="selectSearchAll" resultType="java.lang.Long">
        select  count(*) from forum WHERE forum_title LIKE CONCAT('%', #{body}, '%') OR forum_body  LIKE CONCAT('%', #{body}, '%')
    </select>

    <select id="selectTopForumList" resultType="com.lcy.yozoraforum.wrapper.ForumWrapper">
        select f.*,u.user_name,count(c.forum_id) as forum_comment_count from forum f
            join top_forum t on f.forum_id = t.forum_id
            join user  u on f.user_id = u.user_id
            left join comments c on f.forum_id = c.forum_id group by f.forum_id
            order by  create_date desc
    </select>
</mapper>