<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcy.yozoraforum.mapper.SuperNotificationMapper">

    <insert id="insertMsg">
        insert into super_notification (user_level,title,content,create_time)
        values
        (#{userLevel},#{title},#{content},#{createTime})
    </insert>

    <select id="selectContent" resultType="com.lcy.yozoraforum.vo.SuperNotificationVO">
        select * from super_notification where super_notification_id = #{notificationId}
    </select>


    <select id="getSystemNotification" resultType="java.lang.Integer">
        select count(*) from super_notification s left join notification n on s.super_notification_id = n.super_notification_id
        and n.user_id = #{userId} and n.type = 3 where n.notification_id is null
    </select>
</mapper>